/* ---------------------------------- Home Page --------------------------------- */
main {
  flex: 1;
  background-color: var(--background-color);
  width: 100%;
  box-shadow: 2px 2px 6px var(--shadow-color);
}

.hero { position: relative; }
main picture img { width: 100%; height: auto; object-fit: cover; }

.cta {
  display: inline-block;
  padding: 12px 16px;
  background-color: var(--accent-color);
  position: absolute;
  top: 10%;
  right: 4%;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.business-profile, .home-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
}

.business-section, .event-card, .weather-box {
  background: var(--bg-muted);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

/* --------------------------------- Directory Page ------------------------------- */
#member-container.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.section {
  background: white;
  padding: 1rem;
  box-shadow: 1px 1px 5px var(--shadow-color);
  text-align: center;
}

.section img {
  max-width: 100%;
  height: 100px;
  object-fit: contain;
}

/* List View Toggle */
#member-container.list {
  display: flex;
  flex-direction: column;
}

.list .section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  align-items: center;
}

.list .img { display: none; }

/* ---------------------------------- Responsive (Content) --------------------------------- */
@media (min-width: 38rem) {
  .business-profile { grid-template-columns: repeat(3, 1fr); gap: 1rem; }
  .cta { top: 40%; }
}