@media screen and (min-width: 600px) {
    /* Horizontal Nav */
    #menu { 
        display: none; 
    }

    .navigation { 
        display: flex; 
        background: #222; 
        justify-content: space-around; 
    }

    .navigation li { 
        flex: 1; 
    }

    .navigation li a {
        border-bottom: none;
    }

    /* Layout Grid */
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
    }

    h1, #certificate { 
        grid-column: 1 / -1; 
    }

    /* Course Grid */
    #course-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}